html{
	background: url(../images/bg03.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body{
	background-color: transparent;
}

footer{
	width:100%;
	height: 50px;
	margin:100px auto;
	text-align: center;
	color: rgba(250,250,250,0.9);
	boder:0px;
}

.head-super{
	padding:10px;
	margin:80px;
	font-size: 100px;
	text-align: center;
}

.head-super-plus{
	margin:100px;
	font-size: 200px;
	text-align: center;
}

.improvisation .container{
	width:100%;
	margin: 0 auto;
	text-align: center;
	height:880px;
	/*background-color: #EEEEEE;*/
	padding: 0px;
}

.improvisation .page-wrap { 
	width: 90%; 
	margin: 50px auto; 
	padding: 20px; 
	background: rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
	color:white;
	text-shadow: -1px -1px rgba(0,0,0,0.5);
}

.improvisation .btn-start{
	display:inline-block; 
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px; 
	border: 1px solid rgba(250,250,250, 0.9);
/*	background-color: rgba(250,250,250, 0.5);
	color: rgba(10,10,10,0.9);
	-moz-box-shadow: 0 0 5px black; 
	-webkit-box-shadow: 0 0 5px black; 
	box-shadow: 0 0 5px black; */
	margin: 10px;
}

.improvisation .members{
	padding-top: 10px;
	padding-bottom: 50px;
}

.improvisation .member{
	margin-top:0px;
	margin-bottom: 0px;
}

.improvisation .member .img-head{
	width: 100px;
	height: 100px;
	-moz-box-shadow: 0 0 10px black; 
	-webkit-box-shadow: 0 0 10px black; 
	box-shadow: 0 0 10px black; 
	margin: 0 auto;
	margin-bottom: 10px;
}

.improvisation .member .name{
	color: white;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
}

.improvisation .member .title{
	color: white;
	text-shadow: 1px 1px rgba(0,0,0,0.5);
}


.days{
	height:800px;
	width:100%;
	padding: 0px;
	margin: 0px;
}

.days .container{
	width:100%;
	height:auto;
	border: 1px solid red;
}

.days .daybox {
	position: relative;
	width: 100%;
	height: auto;
	/*background-color: rgba(250,250,250,0.7);*/
	vertical-align: middle;
	border: 1px solid green;
	margin-bottom: 50px;
}

.days .bgImage{
  position: relative; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  width: 100%;
  height:auto;
  z-index: -100;
}

.days .dayNumBox{
	position: absolute;
	width: 200px;
	height: 200px;
	top: 50px;
	left: 50px;
	color: black;
	font-size: 50px;
	text-shadow: -1px -1px rgba(255,255,255,0.5);
	text-align: center;
	border-radius: 50%;
	background-color: rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 10px rgba(100,100,100,0.5); 
	-webkit-box-shadow: 0 0 10px rgba(100,100,100,0.5); 
	box-shadow: 0 0 10px rgba(100,100,100,0.5); 
}

.days .dayTitle{
	margin-top: 60px;
	margin-bottom: 20px;
}

