<div class="days" ng-controller="DaysCtrl">
	<div class="homeLink"><a class="btn btn-link btn-improvisation" href="/">Improvisation 365</a></div>
	<div class="container row-fluid" ng-repeat="day in days">	
	    <div class="daybox" ng-switch="day.tabOn">
		   	<div class="dayTitle">Day <span class="dayNum" ng-bind="day.day"></span></div>
		    <div ng-switch-when="photo">
		    	<button ng-click="switchTo(day)" class="btn btn-link">Watch Video</button>
			    <div class="bgImageBox">
			    	<img class="bgImage" ng-src="{{day.photo}}" />
				</div>

				<div class="contentInfo">	
					<img class="img-circle img-head" ng-src="{{day.photographerIcon}}" >
					<span class="name" ng-bind="day.photoBy"></span>
				</div>
			</div>
			<div ng-switch-when="video">
				<button ng-click="switchTo(day)" class="btn btn-link">Show Photo</button>
			    <div class="bgMusicBox">
					<iframe class="videoIframe" src="{{day.video}}" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="contentInfo">	
					<img class="img-circle img-head" ng-src="{{day.musicianIcon}}" >
					<span class="name" ng-bind="day.musicBy"></span>
				</div>
			</div>
	    </div>
	</div>
</div>